.modal{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 400px;
    height: 200px;
    
    margin: auto;
    padding: 20px;
    
    text-align: center;
    
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #7472722d;
    background-color: #121a1ad8;
    overflow: hidden;
}
.modal[open]{
    display: flex;
}
.modal::backdrop{
    background-color: #000000a6;
}
.modal h3{
    font-size: larger;
    color: #fff;
}
.modal p{
    text-align: center;
    word-break: break-all;
}
.modal button{
    width: 20%;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    height: 30px;
    border-radius: 10px;
}

.modal button:hover{
    background-color: #0c3333;
}